<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
      <add name="cs" connectionString="Server=DESKTOP-4R19HE1\SQLEXPRESS;Database=AdventureWorksOBP;Uid=sas;Pwd=SQL" />
     <!--<add name="cs" connectionString="Server=tcp:pppk-zuvic.database.windows.net,1433;Initial Catalog=TVShows;Persist Security Info=False;User ID=sas;Password=Pa$$w0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
      <!--<add name="cs" connectionString="ISsxZcraHhgQJwfOvs1RePl4uU5vTcKdr1Crww0S/hpQ/HHTed58ut53m+Do/dGwK/Ca+U6M1uepCIATH0VIt5m6omlmb720uDHgaZY9WVw2zwGX72SGbxN+afvWyzwgCYcKJPtcZlRJFioyNICmkrwsbLJOCfSvKknFp9iG2TT/cLrVFXPz9VzTHQ6L8riXJ5SHrdLa5trLjL/E8m+Zorb9rT+oxddFerJI177qSJfRET56N9t9Xqt+dP7AOiDLaF8glbZyjInMv7tWwt/SqFO6jHFjMzyp7aF6SWXOGu5hV4YaWPmC6w=="/>-->
    </connectionStrings>
</configuration>